<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853968681284-jc92pd6j2einj9e34ugg4o1a98grubl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853968681284-jc92pd6j2einj9e34ugg4o1a98grubl0</string>
	<key>API_KEY</key>
	<string>AIzaSyCRTLMJpptTF0OODlYHSKyGJdykrf0T078</string>
	<key>GCM_SENDER_ID</key>
	<string>853968681284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wlhgames.idtheft</string>
	<key>PROJECT_ID</key>
	<string>wlhgames</string>
	<key>STORAGE_BUCKET</key>
	<string>wlhgames.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853968681284:ios:4c53b1ff567f8e662dff11</string>
	<key>DATABASE_URL</key>
	<string>https://wlhgames-default-rtdb.firebaseio.com</string>
</dict>
</plist>